<h1>About Us</h1>

	<h2>Members Only Shopping</h2>
	<p>Lot 19 carefully selects the best varietals from vineyards in Napa, Sonoma, and Europe. We offer you a taste of the best at a fraction of the cost. As an exclusive member, you get inside access to weekly sales at up to 75% off retail. Become a member today - cheers!</p>
	<h2>First Come, First Served</h2>
	<p>All sales take place only on www.lot19.com and our full collection of merchandise is always available at the start of the sale, so be sure to log on early.</p>
