<h1>Contact Us</h1>

<div class = "container">
	<div class = "subheading">Email</div>
	<div class = "content">
		<p>help@lot19.com</p>
	</div>
	<div class = "subheading">Press</div>
	<div class = "content">
		<p>press@lot19.com</p>
	</div>
	<div class = "subheading">Address</div>
	<div class = "content">
		<p>Davey's affiliate business PO Box</p>
	</div>
</div>