<h1>Frequently Asked Questions</h1>

	<h2>I like today's deal - how do I get it?</h2>
	<p>Just click "BUY" before the offer ends at midnight. Quantities of our top varietals are limited, so grab your bottles before we are sold out.</p>

	<h2>When will my order arrive and how much is shipping?</h2>
	<p>Our merchants currently offer flat-rate ground shipping with product-specific packing materials designed to protect your order while it's in transit.Wine orders will typically ship via UPS Ground within 2 business days. Golden State Overnight (GSO) will be used where available. Imported wines will typically take an additional 7-10 days to ship and will ship via UPS Ground.In order to remain compliant with federal laws that govern the shipment of wine, please ensure that there is an adult age 21 or over available to sign for the delivery at the shipping address you specify. A valid ID may be required upon delivery.</p>
	
	<h2>What does membership cost?</h2>
	<p>Membership is absolutely free! Our products are available to all our invitation-only members on a first come, first served basis. We encourage you to invite similarly discerning customers.</p>		

	<h2>Why is Lot19 currently a membership-only service?</h2>
	<p>We wish to limit the size of our audience because the retailers we work with rarely offer their product at such discounted prices.</p>
