<h1>Frequently Asked Questions</h1>

<div class = "container">
	<div class = "subheading">I like today's deal - how do I get it?</div>
	<div class = "content">
		<p>Just click "BUY" before the offer ends at midnight. Quantities of our top varietals are limited, so grab your bottles before we are sold out.</p>
	</div>
	<div class = "subheading">When will my order arrive and how much is shipping?</div>
	<div class = "content">
		<p>Our merchants currently offer flat-rate ground shipping with product-specific packing materials designed to protect your order while it's in transit.Wine orders will typically ship via UPS Ground within 2 business days. Golden State Overnight (GSO) will be used where available. Imported wines will typically take an additional 7-10 days to ship and will ship via UPS Ground.In order to remain compliant with federal laws that govern the shipment of wine, please ensure that there is an adult age 21 or over available to sign for the delivery at the shipping address you specify. A valid ID may be required upon delivery.</p>
	</div>
	<div class = "subheading">What does membership cost?</div>
	<div class = "content">
		<p>Membership is absolutely free! Our products are available to all our invitation-only members on a first come, first served basis. We encourage you to invite similarly discerning customers.</p>		
	</div>
	<div class = "subheading">Why is Lot19 currently a membership-only service?</div>
	<div class = "content">
		<p>We wish to limit the size of our audience because the retailers we work with rarely offer their product at such prices.</p>
	</div>
</div>