<div class = "register_block">
	<div class = "join_now_block">
		<div id = "join_now_heading">
			Join Lot19
		</div>
		<ul>
			<li>Top seasonal varietals at 75% off</li>
			<li>New sales every week</li>
			<li>Exclusive membership</li>
		</ul>
		<%= render 'users/form'%>
	</div>
</div>