<div class="register">
	<h1>Join Lot19</h1>
		<ul class="valueprop">
			<li>Top seasonal varietals at 75% off</li>
			<li>New sales every week</li>
			<li>Exclusive membership</li>
		</ul>
		<%= render 'users/form'%>
</div>