<div class="centered">
	<h1>Join LUXEVINE</h1>
		<ul class="valueprop">
			<li>Top seasonal varietals at 75% off</li>
			<li>New sales every week</li>
			<li>Exclusive membership</li>
		</ul>
		<p>&nbsp;</p>
		<%= render 'users/form'%>
</div>